*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    margin: 0;
    font-weight: bolder;
    font-size: 44px;
}

.container{
    display: flex;
    width: 1400px;
    height: 805px;

}
.background img{
    width:700px;
    height: 808px;
}
.form-creater{
   padding: 20px 100px ;
   width: 700px;
}
.form-creater p{
    font-size: 17px;
    color: #667085;
}
.form-creater p span{
    color: #0099FF;
}
.input{
    width: 500px;
    height: 42px;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 10px;
    border:1px solid #d0d5dd;
}
.text-area{
    width: 500px;
    height: 128px;
    margin: 3px 0 15px 0;
    border-radius: 10px;
    border: 1px solid #d0d5dd;
    color: #757575;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services-container{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    color: #344054;
    font-size: 16px;
}
.services-left input,.services-right input {
    margin: 8px 5px ;
}
.services-right {
    margin-right: 8rem;
}
.button-submit{
    background-color: #0099FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0;
}
input ::placeholder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
